
nav.topo {
    display: flex;
    justify-content: space-between;
    padding: 1vw 3vw 1vw 3vw;
}
nav.topo span {
    color: #1090CB;
    justify-content: left;
    margin: 0 2vw 0 2vw;
    font-size: x-large;
}
nav.topo ul{
    display: flex;
}
nav.topo ul li a {
    margin: 0 3vw 0 3vw;
}
nav.topo ul li a {
    text-decoration: none;
    color: black;
}
nav.topo ul li a.home {
    color: #1090CB;
}
nav.topo ul li button {
    background-color: #1090CB;
}
section.experienced {
    background-color: #d5e7f0;
}
.experienced {
    display: flex;
}
.experienced div.text {
    margin: 15vw 5vw 0 10vw;
}
.experienced h1 {
    font-size: xxx-large;
    font-weight: bold;
}
.experienced div.text h1 {
    margin: 0 0 2vw 0;
}
.experienced div.text h1 span {
    color: #1090CB;
}
.experienced div.text p {
    color: #5C5C5C;
    margin: 0 0 2vw 0;
}
.experienced div.text button {
    font-size: x-large;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}
.experienced div.text button.contact{
    background-color: #1090CB;
    color: white;
    border-color: #1090CB;
}
.experienced div.text button.view{
   color: #1090CB;
   border-color: #1090CB;
   margin: 0 0 0 1vw;
}
.icones {
    display: flex;
    margin: 3vw 7vw 3vw 16vw;
    font-size: large;
}
.icones .icone1{
    display: flex;
    padding: 1vw;
}
.icone1 img{
    background-color: #EFEAFF;
    border-radius: 10px;
    padding: 15px;
}
.icones .icone2 {
    display: flex;
    padding: 1vw;
}
.icone2 img{
    background-color: #ECFFDA;
    border-radius: 10px;
    padding: 15px;
}
.icones .icone3 {
    display: flex;
    padding: 1vw;
}
.icone3 img{
    background-color: #DAE6FF;
    border-radius: 10px;
    padding: 15px;
}
.icones .icone4 {
    display: flex;
    padding: 1vw;
}
.icone4 img{
    background-color: #FFE5DA;
    border-radius: 10px;
    padding: 15px;
}
.icones h4{
    font-weight: bold;
    padding: 15px;
}
.icones p {
    color: #5C5C5C;
    padding: 1px 1px 15px 15px;
}
